# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/chapter10/card
/chapter12/test.py
/chapter13/*.txt
/chapter5/*.txt
/chapter13/images/
/chapter13/*.dat
.idea/
/more_effective/history
hamlet.txt
# 项目生成文件
*.xlsx
*.pdf
*.dot

# 特地忽略的文件
/RotationForest-master
/NLP/examples/data
/NLP/examples/text_classification_AI100/output/
/NLP/examples/text_classification_AI100/tmp/
/NLP/Language-Detector/*.html
/NLP/Language-Detector/data.csv
/NLP/Language-Detector/*.png
/NLP/Naive-Bayes-Text-Classifier/Database
/NLP/Naive-Bayes-Text-Classifier/*.html
/NLP/Database/
/NLP/cs224/
/aigeng/